canvas{
    background-color: deepskyblue;
    border-style: solid;
    border-color: maroon;
    border: 1px;
}
#highestScore{
    margin-left: 900px;
    margin-top: 2px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
}